<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="摇滚时刻笔记,rockrolltime">
    <meta name="keywords" content="摇滚时刻笔记,rockrolltime">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>摇滚时刻笔记,rockrolltime</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/assets/i/favicon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="rockrolltime"/>
    <link rel="apple-touch-icon-precomposed" href="/images/rockroll2.png">
    <meta name="msapplication-TileImage" content="/images/rockroll2.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="/assets/css/app.css">
</head>

<body id="blog-article-sidebar">
<!-- header start -->
<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
    <div class="am-u-sm-8 am-u-sm-centered">
        <img width="200" src="http://p6lfxxq4c.bkt.clouddn.com/rockroll2.png" alt="rockrolltimelogo"/>
        <h2 class="am-hide-sm-only">摇滚时刻笔记</h2>
    </div>
</header>
<!-- header end -->
<hr>

<!--模态弹窗 start-->
<div class="am-modal am-modal-alert" tabindex="-1" id="my-modal-alert">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">tips</div>
        <div class="am-modal-bd">
            sorry，该模块程序猿小哥哥还在拼命开发中，敬请期待~
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">关闭</span>
        </div>
    </div>
</div>
<!--模态弹窗 end-->

<!-- nav start -->
<nav class="am-g am-g-fixed blog-fixed blog-nav">
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button"
            data-am-collapse="{target: '#blog-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="blog-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li><a href="/web/index">首页</a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    首页布局 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="/web/nosidebar">1. index-nosidebar</a></li>
                    <li><a href="/web/center">2. index-center</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0)" data-am-modal="{target: '#my-modal-alert'}">代码记录</a></li>
            <li><a href="javascript:void(0)" data-am-modal="{target: '#my-modal-alert'}">简历相关</a></li>
            <li class="am-active"><a href="/web/photoList">图片库</a></li>
            <li><a href="/web/videoList">存档</a></li>
        </ul>
        <!--<form class="am-topbar-form am-topbar-right am-form-inline" role="search">-->
        <!--<div class="am-form-group">-->
        <!--<input type="text" class="am-form-field am-input-sm" placeholder="搜索">-->
        <!--</div>-->
        <!--</form>-->
    </div>
</nav>
<!-- nav end -->
<hr>
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
    <figure data-am-widget="figure" class="am am-figure am-figure-default " data-am-figure="{  pureview: 'true' }">
        <div id="container">
        </div>
    </figure>

</div>

<!-- content end -->
<footer class="blog-footer">
    <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-6">
            <h3>说点什么</h3>
            <p class="am-text-sm">我没有想过要做多么强大、复杂的功能，<br> 就一个简单的网站，把毕业到现在工作的这段时间接触到和学习的一些技术整合到一起，
                <br>由一个人独立开发调试部署、从数据库设计、框架搭建、代码编写、linux终端环境的部署、域名申请和备案等等，
                <br>后续还需完善现在未开发的很多功能、增加简历，个人学习笔记等板块，就这么多先!
                <br>目前所用到的技术:Amaze UI + doT.js + Maven +QinNiu + SpringBoot + Mybatis + Mysql + Redis + Nginx
                <br>了解一下？
            </p>
        </div>

        <div class="am-u-sm-12 am-u-md-4- am-u-lg-6">

            <h3>tips</h3>
            <p>时间总过得很快，很多东西，不应该停留在纸上谈兵而已，而是自己亲自动手实践，难道不是吗？</p>
            <p>© 2018 AllMobilize, Inc. Licensed under MIT license. Made By WanXian</p>
            <p>桂ICP备18004830号-1</p>
        </div>
    </div>
</footer>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="/assets/js/baidu.jquery.min.js"></script>
<script src="/assets/js/modernizr.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/pinto.min.js"></script>
<script src="/assets/js/doT.js"></script>
<script src="/auth/js/photoList.js"></script>
<script id="photoListTemplate" type="text/x-dot-template">
    {{ for(var prop in it) { }}
    <div><img src="{{=it[prop].url}}" alt="recordPhoto">
        <h3>{{=it[prop].remark}}</h3></div>
    {{ } }}
</script>
</body>
</html>